body {
  background: #2c3e50; /* fallback for old browsers */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  padding-bottom: 1%;
  color: rgb(88, 202, 206);

}

.square {
  background: rgb(78, 195, 199);
  float: left;
  font-size: 300%;
  font-weight: bold;
  line-height: 4rem;
  height: 5rem;
  margin-right: 1%;
  margin-top: 1%;
  text-align: center;
  width: 5rem;
  border-radius: 20%;
  cursor: pointer;
  
}
button.squarehighlight {
  float: left;
  font-size: 300%;
  font-weight: bold;
  line-height: 4%;
  height: 5rem;
  margin-right: 1%;
  margin-top: 1%;
  text-align: center;
  width: 5rem;
  border-radius: 20%;
  cursor: pointer;
  outline: none;
  background: rgb(255, 123, 0);
}
.square:focus {
  outline: none;
}
/* .game{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.button{
  text-align: center;
  margin-right: 1%;
  margin-top: 2%;
}
.git{
  margin-left: 3%;
  margin-top: 2%;
}
.gitt{
  margin-left: 1%;
  margin-top: 21.5%;
  font-size: 2rem;
}